<% provide(:title, "Coming Soon") %>


	<section class="content wrapper">

		<h1>Under construction</h1>
		<p class="description">очень скоро все будет, больше дыма, больше хороших моментов, больше отличного настроения, больше Нас</p>

		<div class="subscription_form clearfix">
			<div>
				<form action="#" method="post">
					<input type="email" id="mc-email" placeholder="email вводить сюда">
					<button type="submit"><i class="icon"></i></button>
				</form>
			</div>
		</div>

		<div class="counter clear" data-date="2015-08-01 00:00:00"></div>

	</section>
	<div class="back_img"></div>
	